@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: BagossStandardTRIAL-Regular;
  src: url(/assets/fonts/BagossStandardTRIAL-Regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: Sen;
  src: url(/assets/fonts/Sen-VariableFont_wght.ttf);
  font-weight: normal;
}
@layer base {
  h1, h2, h3, h4, h5, h6, p, a, button, span, input, label, li, div {
    @apply font-bagoss text-[#061a2c];
  }
}
@layer components {
  .sec-heading {
    @apply font-medium text-[32px];
  }
  .sec-text {
    @apply text-[18px] lg:text-[22px] font-medium text-[#606060];
  }
  .container{
    @apply max-w-[1440px];
  }
  .priceplan input[type='radio'] {
    @apply appearance-none w-[18px] h-[18px] border-2 border-[#b89b51] rounded-full bg-white cursor-pointer align-middle;
  }
  .btn-gold{
    @apply text-white bg-[#a28537] hover:bg-[#c7ad6b] text-base font-medium;
  }
  .priceplan input[type='radio']:checked {
    background-color: #b89b51 !important;
    color: #fff !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M6.173 12.414L1.757 8l1.414-1.414 3.002 3.001 6.657-6.657 1.414 1.414z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 12px 12px !important;
  }

  .priceplan input[type='radio']:focus-visible {
    box-shadow: 0 0 0 3px rgba(184,155,81,.35);
    outline: none;
  }
  .changecolor {
    background-color: rgb(184, 155, 81, 0.2) !important;
  }
  button.slick-arrow.slick-next {
    position: absolute;
    right: 36px;
    top: -30px;
  }
  button.slick-prev.slick-arrow {
    position: absolute;
    top: -30px;
    left: 90%;
  }
}

