@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: BagossStandardTRIAL-Regular;
  src: url(/assets/fonts/BagossStandardTRIAL-Regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: Sen;
  src: url(/assets/fonts/Sen-VariableFont_wght.ttf);
  font-weight: normal;
}
@layer base {
  h1, h2, h3, h4, h5, h6, p, a, button, span, input, label, li, div {
    @apply font-bagoss text-[#061a2c];
  }
  input:focus,
  select:focus,
  textarea:focus,
  [type="checkbox"]:focus,
  [type="radio"]:focus {
    @apply outline-none ring-0 shadow-none;
  }
  select option:checked {
    @apply bg-[#b79950] text-white;
  }
}
@layer components {
  .sec-heading {
    @apply font-medium text-[32px];
  }
  .sec-text {
    @apply text-lg lg:text-[22px] font-medium text-[#606060];
  }
  .container{
    @apply max-w-[1440px];
  }
  .priceplan input[type='radio'] {
    @apply appearance-none w-[18px] h-[18px] border-2 border-[#b89b51] rounded-full bg-white cursor-pointer align-middle;
  }
  .btn-gold{
    @apply text-white bg-[#a28537] hover:bg-[#c7ad6b] text-base font-medium;
  }
  .homecategslider .slick-track {
    @apply flex items-stretch !important;
  }
  .priceplan input[type='radio']:checked {
    background-color: #b89b51 !important;
    color: #fff !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M6.173 12.414L1.757 8l1.414-1.414 3.002 3.001 6.657-6.657 1.414 1.414z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 12px 12px !important;
  }

  .priceplan input[type='radio']:focus-visible {
    box-shadow: 0 0 0 3px rgba(184,155,81,.35);
    outline: none;
  }
  .changecolor {
    background-color: rgb(184, 155, 81, 0.2) !important;
  }
  .slidingcards .slick-next {
   @apply absolute right-0 md:right-[36px] top-[-35px] md:top-[-40px];
  }
  .slidingcards1 .slick-next {
   @apply absolute right-0 md:right-[36px] top-[-35px] md:top-[-40px];
  }
  .slidingcards1 .slick-prev {
   @apply absolute top-[-35px] md:top-[-40px] left-[82%] md:left-[84%] lg:left-[88%] xl:left-[90%];
  }
  .slidingcards1 .slick-prev:before,.slidingcards1 .slick-next:before {
    @apply text-[#b79950] text-[26px] md:text-[30px];
  }

  .no-focus:focus {
    @apply outline-none ring-0 shadow-none;
  }
  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    @apply -top-2 text-sm text-black;
  }
 [type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: #b79950;
  background-color: #b79950;
}
.form-input:focus {
    border: 1px solid #000000 !important;
    border-color: #000 !important;
    --tw-ring-shadow: none;
    box-shadow: none;
}
}

